*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
  }
body {
    background-color:rgb(222, 218, 218);
    font-family: sans-serif;
    font-family: 'Press Start 2P', cursive;
}
header {
    position: fixed;
    width: 100%;
    height: 9vh;
    top:0;
    left: 0;
    background-color: black;
    padding: 0 2rem;
    color: #fff;
    z-index: 100;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.menu li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.menu li::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -2px; /*-12*/
    transition: 0.4s ease-out;
}
.menu li:hover::before{
    width: 100%;
}
ul li ul.dropdown li {
    display: block;
    padding: 7px 0px;
}
ul li ul.dropdown {
    width: 120%;
    height: 120px;
    padding: 0px 0px;
    background: black;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown {
    display: block;
}
.toggle {
    display: none;
}
.logo-simplon {
    width: 35px;
}
/* #Accueil {
    height: 100vh;
} */
.title {
    margin-top: 6rem;
    text-align: center;
    padding: 40px;
    font-size: 12px;
}
h1 {
    margin-top: 40px;
}
.title-section {
    margin-left: 65px;
    margin-top: 60px;
}
.fond-color {
    background-color: goldenrod;
}
.container-button {
    display: flex;
    flex-direction: column;
}
button {
    background-color:darkgoldenrod;
    text-decoration: none;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transform: scale(1);
    transition: transform 0.2s ease;
}
button:hover {
    background-color: #2980b9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
button a {
    text-decoration: none;
    color: white;
}
.container-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 0px 20px;
    gap: 80px;
 }
 h3 {
    margin-bottom: 30px;
 }
 #container-intro p {
     font-size: 18px;
 }
 .photo-text{
    margin-left: 10px;
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 1.5px solid rgb(196, 162, 9);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2)
 }
 footer {
    width: 100%;
    height: 8rem;
    background-color: black;
    color: #fff; 
    padding: 4rem;
}
footer a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;

}
footer a:hover {
    color: yellowgreen;
}
.footerP {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 991px){
    .toggle{
        display: block;
        color: white;
        font-size: 30px; 
        position: relative; 
        z-index: 20;
}
.logo-simplon {
    width: 30px;
}
.ouvrir {
    display: block;
}
.fermer {
    display: none;
}

.open .ouvrir {
    display: none;
}
.open .fermer {
    display: block;
}
.menu {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem ;
    transform: translateX(-100%);
    transition: 2s;
}
.menu li {
    font-size: 22px;
}
.menu li::before {
    content: "";
    height: 3px;
    width: 0;
    background-color: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -2px; /*-12*/
    transition: 0.4s ease-out;
}
.open .menu {
    transform: translateX(0);
}
.container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo-text {
    width: 100%;
}
.title {
    margin-top: 3rem;
    text-align: center;
    padding: 20px;
    font-size: 10px;
}
.container-text {
    gap: 50px;
}
.title-section {
    margin-left: 0px;
    padding: 0px 65px;
    /* margin-top: 190px */
}
#container-intro p {
    font-size: 16px;
}


}